@import "tailwindcss";

:root {
  --background: #020617; /* slate-950 */
  --foreground: #e5e7eb; /* slate-200 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: radial-gradient(circle at top left, #0f172a 0, #020617 55%);
  color: var(--foreground);
}
